label.pSelect {
  border: 1px solid #333;
  color: #333;
  padding: 3px 28px 3px 3px;
  height: 32px;
  width: 50%;
  line-height: 18px;
  font-size: 14px;
  opacity: .7;
}
label.pSelect:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 30px;
  content: '\25bc';
  width: 20px;
  height: 30px;
}
label.pSelect .label-inner {
  height: 24px;
  border: 1px dotted transparent;
  margin: 0;
  padding: 2px 5px;
  font: inherit;
}
label.pSelect.pFocus {
  opacity: 1;
}
label.pSelect.pFocus .label-inner {
  border-color: #999;
}
label.pSelect.pAutoComplete.pOpen .label-inner {
  display: none;
}
label.pSelect.pAutoComplete.pOpen .pInput {
  height: 24px;
  line-height: 18px;
  margin: 0;
  padding: 3px 5px;
  font: inherit;
  border: 0 none;
  width: 100%;
  outline: none;
  background-color: transparent;
  position: relative;
}
ul.pSelcetUl {
  background-color: #fff;
  border: 1px solid #666;
  margin: 3px 0;
  font-size: 14px;
}
ul.pSelcetUl li {
  margin: 0;
  border: 0 solid #ccc;
  background-color: #fff;
  padding: 6px 10px;
  height: 30px;
  line-height: 18px;
}
ul.pSelcetUl li + li {
  border-width: 1px 0 0;
  height: 31px;
}
ul.pSelcetUl li.pFocusedItem {
  background-color: #eee;
  color: #000;
}
ul.pSelcetUl li.pDisabledItem {
  color: #999;
}
ul.pSelcetUl li.pDisabledItem.pOptgroup {
  color: #000;
  font-weight: bold;
}
ul.pSelcetUl li:hover {
  background-color: #999;
  color: #fff;
}
ul.pSelcetUl.pNormal li.pSelectedItem {
  background-color: #666;
  color: #fff;
}
ul.pSelcetUl.pMultiple li {
  padding: 6px 20px 6px 10px;
}
ul.pSelcetUl.pMultiple li.pSelectedItem:after {
  content: '\2713';
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 26px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}