select.pSelect {
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 1px;
    height: 1px;
}

label.pSelect {
    border: 1px solid #000;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 20px 4px 8px;

    &.pFocus {
        background-color: silver;
    }
}

ul.pSelcetUl {
    position: absolute;
}
