<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title data-type="base">Angular</title>
    <link data-theme="simple" href="/Content/css/page.min.css" rel="stylesheet" />
    <link href="Content/css/ajax-loader.angular.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <h1>Angular</h1>
        </div>
    </header>
    <div class="container" ng-controller="dogListController">
        <button ng-click="showLoader()">Show</button>
        <button ng-click="hideLoader()">Hide</button>
        <button ng-click="clearCache()">Clear cache</button>
        <br /><br />
        <button ng-click="getData(0)">Load</button>
        <button ng-click="getData(2000)">Load slow</button>
        <button ng-click="getData(2000, true)">Load slow but silent</button>
        <br /><br />
        <button ng-click="overlappingRequests()">Two overlapping requests</button>
        <ul class="dogs-list">
            <li class="dog" ng-repeat="dog in dogs" on-last-repeat ng-cloak>
                <h4>
                    {{dog.Name}}
                </h4>
                <p>{{dog.BreedName}}</p>
                <p>Born: {{ jsonDateToDate(dog.Born) | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                <img class="b-lazy portrait"
                     ng-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-blazy="{{dog.Image}}"
                     alt="{{dog.BreedName}}" />

            </li>
        </ul>
    </div>
    <footer>
        <div class="container">
            Created by: Lars Danielsen
        </div>
    </footer>
    <!-- ReSharper disable once Html.TagNotResolved -->
    <ajax-loader class="ajax-loader" />
    <script src="/Scripts/lib/blazy.min.js"></script>
    <script src="/Scripts/lib/angular.min.js"></script>
    <script src="/Scripts/lib/ajax-loader.angular.js"></script>
    <script src="/Scripts/lib/on-last-repeat.js"></script>
    <script src="/Scripts/main.js"></script>
    <script src="/Scripts/dog-service.js"></script>
    <script src="/Scripts/dog-list-controller.js"></script>
</body>
</html>
