body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.container {
  width: 100%;
  margin: 0 auto;
}
footer {
  margin: 30px 0;
}
.navbar-toggle {
  display: none;
}
.form-group {
  border: 1px solid #555;
  margin: 5px 0;
  padding: 15px;
}
.form-group > label.checkbox-inline,
.form-group > label.radio-inline {
  display: inline-block;
}
.form-group label.checkbox-inline,
.form-group label.radio-inline,
.form-group .checkbox > label,
.form-group .radio > label {
  margin-bottom: 5px;
  padding: 0 0 0 24px;
  position: relative;
  min-height: 20px;
  line-height: 20px;
  display: inline-block;
  clear: both;
}
.form-group label.checkbox-inline input,
.form-group label.radio-inline input,
.form-group .checkbox > label input,
.form-group .radio > label input {
  position: absolute;
  margin: 3px 0 0 -24px;
}
.nav {
  overflow: hidden;
}
.nav li {
  list-style: none;
  float: left;
}
.nav li a {
  padding: 10px;
}
.dogs-list {
  margin: 0;
  padding: 0;
  /* clear fix */
}
.dogs-list:after {
  content: '';
  display: block;
  clear: both;
}
.dogs-list .dog {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  border-top: 1px solid black;
  display: block;
  float: left;
  width: 300px;
  height: 400px;
}
.dogs-list .dog .portrait {
  width: 300px;
  height: auto;
}