figure {
  display: inline-block;
  margin: .5em 0;
  padding: 5px;
  border: 1px solid #999;
}
figure figcaption {
  border-top: 1px solid #999;
  padding: 3px;
  margin: 5px 0 0;
}
textarea {
  width: 80%;
}
textarea.html {
  font-family: 'Courier New', monospace;
  font-size: .8em;
}